   body {
    font-family: "Helvetica Neue";
    margin: 0 10%;
  }
  
  .mainHeading {
    color: orange;
  }
  
  .colours {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
  }
  
  .colour-container {
    width: 100%;
  }
  
  .colour-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }
  
  .blue {
    background-color: #4169E1;
    color: #fff;
  }
  
  .red {
    background-color: #FF0000;
  }
  
  .orange {
    background-color: #FFA500;
  }
  
  .pink {
    background-color: #FFC0CB;
    color: #fff;
  }
  
  .purple {
    background-color: #A020F0;
    color: #fff;
  }

  .green {
    background-color: #00FF00;
    color: #fff;
  }

  .blue-heading {
    color: blue;
  }

  .aqua {
    background-color: #00FFFF;
  }

  .aquamarine {
    background-color: #7FFFD4;
  }

  .shade-blue {
    background-color: #0000FF;
    color: #fff;
  }

  .cadet-blue {
    background-color: #5F9EA0;
    color: #fff;
  }

  .cornflower-blue {
    background-color: #6495ED;
    color: #fff;
  }

  .dark-blue {
    background-color: #00008B;
    color: #fff; 
  }

  .dark-turquoise {
    background-color: #00CED1;
    color: #fff;
  }

  .deep-sky-blue {
    background-color: #00BFFF;
    color: #fff;
  }

  .dodger-blue {
    background-color: #1E90FF;
    color: #fff;
  }

  .font-container {
    width: 100%;
  }

  .font-panel {
    width: 45%;
    display: inline-block;
  }

  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }

  .regular {
    font-style: normal;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: 800;
  }

  .helvetica-neue {
    font-family: 'Helvetica Neue';
  }

  .arial {
    font-family: Arial;
  }

  .times {
    font-family: 'Times New Roman';
  }

  .text-panel h1 {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

  .text-panel h2 {
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }